<div class="content" role="main">
  <div class="card-container">
    <form
      class="card"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit(loginForm.value)"
    >
      <div class="form-group">
        <label for="inputEmail1">Server: </label>
        <input
          type="text"
          class="form-control"
          id="serverInput1"
          placeholder="Enter server instance"
          formControlName="server"
        />
      </div>
      <div class="form-group">
        <label for="inputUsername1">Username: </label>
        <input
          type="text"
          class="form-control"
          id="inputUsername1"
          placeholder="Enter username"
          formControlName="username"
        />
      </div>
      <div class="form-group">
        <label for="inputPassword1">Password: </label>
        <input
          type="password"
          class="form-control"
          id="inputPassword1"
          placeholder="Password"
          formControlName="password"
        />
      </div>
      <button type="submit" class="card highlight-card">Login</button>
    </form>
    <form
      class="card"
      [formGroup]="loginForm"
      (ngSubmit)="onNTLMSubmit(loginForm.value)"
    >
      <div class="form-group">
        <label for="inputEmail1">Server: </label>
        <input
          type="text"
          class="form-control"
          id="serverInput1"
          placeholder="Enter server instance"
          formControlName="server"
        />
      </div>
      <button type="submit" class="card highlight-card">NTLM Login</button>
    </form>
  </div>
</div>
